<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="k1" connectionString="server=lsd.spsejecna.net;database=kocoura;user=kocoura;password=Nocheats;"/>
  </connectionStrings>
  <appSettings>
    <add key="SERVER" value="lsd.spsejecna.net"/>
    <add key="DATABASENAME" value="kocoura"/>
    
  </appSettings>
</configuration>